/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #9296c4;
  --color-primary-green: #65d46e;
  --color-black: #000;
  --color-background: #121212;
  --color-card-background: #292929;
  --color-border: #343434;
  --color-white: #fff;

  --rounding-16: 16px;
  --rounding-24: 24px;
  --rounding-32: 32px;
}
