/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@import '../components/modal-user/modal-user.scss';

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}
