<div class="faq">
    <h2 class="faq__title">Find the answer to your question</h2>
    <div class="faq__questions" >

      <div class="faq__item" data-question-expanded>
        <div class="faq__top">
          <h3 class="faq__question-title">How to get a promotional code for a purchase?</h3>
          <div class="faq__icon"></div>
        </div>
        <p class="faq__body">
          You can get promotion in many ways. One of the ways to get a discount on our products is to join the Newsletter. You can also receive the promotion after earning enough loyalty points by making purchases on our website. Details can be found on the Loyalty Points page
        </p>
      </div>

      <div class="faq__item" >
        <div class="faq__top">
          <h3 class="faq__question-title">What products do you offer?</h3>
          <div class="faq__icon"></div>
        </div>
          <p class="faq__body">You can get promotion in many ways. One of the ways to get a discount on our products is to join the Newsletter. You can also receive the promotion after earning enough loyalty points by making purchases on our website. Details can be found on the Loyalty Points page</p>
      </div>

      <div class="faq__item" >
        <div class="faq__top">
          <h3 class="faq__question-title">How many days does order processing and delivery take?</h3>
          <div class="faq__icon"></div>
        </div>
          <p class="faq__body">You can get promotion in many ways. One of the ways to get a discount on our products is to join the Newsletter. You can also receive the promotion after earning enough loyalty points by making purchases on our website. Details can be found on the Loyalty Points page</p>
      </div>

      <div class="faq__item" >
        <div class="faq__top">
          <h3 class="faq__question-title">How do I return a purchase and how much does it cost?</h3>
          <div class="faq__icon"></div>
        </div>
          <p class="faq__body">You can get promotion in many ways. One of the ways to get a discount on our products is to join the Newsletter. You can also receive the promotion after earning enough loyalty points by making purchases on our website. Details can be found on the Loyalty Points page</p>
      </div>

      <div class="faq__item" >
        <div class="faq__top">
          <h3 class="faq__question-title">From what amount shipping is free?</h3>
          <div class="faq__icon"></div>
        </div>
          <p class="faq__body">You can get promotion in many ways. One of the ways to get a discount on our products is to join the Newsletter. You can also receive the promotion after earning enough loyalty points by making purchases on our website. Details can be found on the Loyalty Points page</p>
      </div>

    </div>
  </div>