<div class="album-section">
    <div class="container songs-preview">
      <div class="songs-preview__box">
        <div class="songs-preview__image-wrap">
            <img src="/assets/images/album-section/mobile/damn-thumbnail-mobile.png" alt="song thumbanail">

        </div>
        <div class="songs-preview__content">
          <div class="songs-preview__content-innerwrap">
            <h3 class="songs-preview__title break">Kendrick Lamar - DAMN</h3>
            <p class="songs-preview__short-desc">Fourth studio album by American rapper Kendrick Lamar.</p>
          </div>
          <button class="button button__primary">
            <img src="/assets/icons/play-button.png" alt="btn ico" width="11" height="12"/>
            Start listening
          </button>
        </div>
      </div>

      <div class="songs-preview__box">
        <div class="songs-preview__image-wrap">
            <img src="/assets/images/album-section/mobile/faith-thumbnail-mobile.png" alt="song thumbanail">
        </div>
        <div class="songs-preview__content">
          <div class="songs-preview__content-innerwrap">
            <h3 class="songs-preview__title">Faith - Pop Smoke</h3>
            <p class="songs-preview__short-desc">Faith is the second and final studio album by American rapper Pop Smoke. It was released posthumously on July 16, 2021.</p>
          </div>
          <button class="button button__primary">
            <img src="/assets/icons/play-button.png" alt="btn ico" width="11" height="12"/>
            Start listening
          </button>
        </div>
      </div>

      <div class="songs-preview__box">
        <div class="songs-preview__image-wrap">
            <img src="/assets/images/album-section/mobile/travis-scott-thumbnail-mobile.png" alt="song thumbanail">
        </div>
        <div class="songs-preview__content">
          <div class="songs-preview__content-innerwrap">
            <h3 class="songs-preview__title">Travis  Scott - Astroworld</h3>
            <p class="songs-preview__short-desc">Third studio album by American rapper Travis Scott. It was released on August 3, 2018 through Cactus Jack Records...</p>
          </div>
          <button class="button button__primary">
            <img src="/assets/icons/play-button.png" alt="btn ico" width="11" height="12"/>
            Start listening
          </button>
        </div>
      </div>
    </div>
    <div class="container adventage-box">
      <div class="adventage-box__innerwrap">
        <picture>
          <source srcset="/assets/images/album-section/mobile/adv-box-mobile.png"
          media="(max-width: 768px)">
          <source srcset="/assets/images/album-section/tablet/adv-box-tablet.png"
          media="(max-width: 1024px)">
          <img src="/assets/images/album-section/desktop/adv-box-desktop.png" alt="adventage box">
        </picture>
        <button class="button button__secondary">
          <img src="/assets/icons/play-button.png" alt="btn ico" width="11" height="12"/>
          Start listening
        </button>
      </div>
    </div>
  </div>