.form-input-wrap {
  /*  visually hidden label to keep design and accessibility */
  & &__label {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  & &__input {
    width: 100%;
    padding: 18px 32px;
    font-size: var(--font-small);
    line-height: 17px;
    background: none;
    color: var(--color-white-100);
    border: 1px solid var(--border-color);
    border-radius: 50px;

    &:focus-visible {
      outline: none;
      border-color: var(--border-color-on-focus);
    }
  }

  & &__error-message {
    font-size: var(--font-small);
    color: var(--color-red);
    margin: 6px 0 0 32px;
  }
}
